*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
.heading{
    text-align: center;
    font-size:65px;
    margin-top: -4rem;
    font-style:italic;
}

html{
    background-color: lightsteelblue;
}

.back-cont{
    border-radius: 70%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    position:absolute;
    height:5rem;
    width:5rem;
    bottom:1rem;
    right:6rem;
    display:flex;
}
.back-cont:hover{
    cursor:pointer;
}